@charset "utf-8";
/* CSS Document */

/*
.x-btn-default-toolbar-small{background-image: -webkit-linear-gradient(top,#F2E0C4,#EAAF44 50%,#DB8908 51%,#E79A23);}
.x-btn-default-toolbar-small {border-color: #D3933F;}*/
.btn-check {
	background-image: url(images/icons/check.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-add {
	background-image: url(images/icons/add.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-close {
	background-image: url(images/icons/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-config {
	background-image: url(images/icons/config.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-dwn {
	background-image: url(images/icons/dwn.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-export {
	background-image: url(images/icons/export.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-filter {
	background-image: url(images/icons/filter.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-import {
	background-image: url(images/icons/import.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-new {
	background-image: url(images/icons/new.png);
	background-repeat: no-repeat!importent;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-next {
	background-image: url(images/icons/next.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-print {
	background-image: url(images/icons/print.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-remove, .btn-del {
	background-image: url(images/icons/remove.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-report {
	background-image: url(images/icons/report.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-reset {
	background-image: url(images/icons/reset.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-run {
	background-image: url(images/icons/run.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-save-copy {
	background-image: url(images/icons/save-copy.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-save-new {
	background-image: url(images/icons/save-new.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px important;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-save {
	background-image: url(images/icons/save.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-sel {
	background-image: url(images/icons/sel.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-select {
	background-image: url(images/icons/select.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-submit {
	background-image: url(images/icons/submit.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-super {
	background-image: url(images/icons/super.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-up {
	background-image: url(images/icons/up.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-upd {
	background-image: url(images/icons/upd.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-view {
	background-image: url(images/icons/view.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-confirm {
	background-image: url(images/icons/confirm.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-cancel {
	background-image: url(images/icons/cancel.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.btn-update {
	background-image: url(images/icons/update.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.tbar_btn_del {
	background-image: url(images/icons/tbar_del.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.tbar_btn_upload {
	background-image: url(images/icons/up_16.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.tbar_btn_download {
	background-image: url(images/icons/down_16.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.tbar_btn_add {
	background-image: url(images/icons/tbar_add.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.tbar_btn_minus{
	background-image: url(images/icons/tbar_minus.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.icon_FN0101 {
	background-image: url(images/icons/FN0101.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0102 {
	background-image: url(images/icons/FN0102.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0103 {
	background-image: url(images/icons/FN0103.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0201 {
	background-image: url(images/icons/FN0201.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0202 {
	background-image: url(images/icons/FN0202.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0203 {
	background-image: url(images/icons/FN0203.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0301 {
	background-image: url(images/icons/FN0301.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0302 {
	background-image: url(images/icons/FN0302.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0303 {
	background-image: url(images/icons/FN0303.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0401 {
	background-image: url(images/icons/FN0401.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0402 {
	background-image: url(images/icons/FN0402.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0403 {
	background-image: url(images/icons/FN0403.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0501 {
	background-image: url(images/icons/FN0501.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0601 {
	background-image: url(images/icons/FN0601.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0602 {
	background-image: url(images/icons/FN0602.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0603 {
	background-image: url(images/icons/FN0603.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0604 {
	background-image: url(images/icons/FN0604.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN0605 {
	background-image: url(images/icons/FN0605.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN01002 {
	background-image: url(images/icons/FN01002.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN010101 {
	background-image: url(images/icons/FN010101.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN010201 {
	background-image: url(images/icons/FN010201.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN010202 {
	background-image: url(images/icons/FN010202.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN010301 {
	background-image: url(images/icons/FN010301.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020101 {
	background-image: url(images/icons/FN020101.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020102 {
	background-image: url(images/icons/FN020102.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020103 {
	background-image: url(images/icons/FN020103.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020104 {
	background-image: url(images/icons/FN020104.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020105 {
	background-image: url(images/icons/FN020105.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020106 {
	background-image: url(images/icons/FN020106.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020201 {
	background-image: url(images/icons/FN020201.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020202 {
	background-image: url(images/icons/FN020202.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020205 {
	background-image: url(images/icons/FN020205.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020301 {
	background-image: url(images/icons/FN020301.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020302 {
	background-image: url(images/icons/FN020302.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020303 {
	background-image: url(images/icons/FN020303.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN030201 {
	background-image: url(images/icons/FN030201.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060101 {
	background-image: url(images/icons/FN060101.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060102 {
	background-image: url(images/icons/FN060102.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060103 {
	background-image: url(images/icons/FN060103.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060104 {
	background-image: url(images/icons/FN060104.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060105 {
	background-image: url(images/icons/FN060105.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060108 {
	background-image: url(images/icons/FN060108.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060203 {
	background-image: url(images/icons/FN060203.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060301 {
	background-image: url(images/icons/FN060301.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060401 {
	background-image: url(images/icons/FN060401.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060402 {
	background-image: url(images/icons/FN060402.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060403 {
	background-image: url(images/icons/FN060403.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060404 {
	background-image: url(images/icons/FN060404.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN060501 {
	background-image: url(images/icons/FN060501.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02010101 {
	background-image: url(images/icons/FN02010101.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020101011 {
	background-image: url(images/icons/FN020101011.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02010102 {
	background-image: url(images/icons/FN02010102.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02010103 {
	background-image: url(images/icons/FN02010103.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02020102 {
	background-image: url(images/icons/FN02020102.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02020301 {
	background-image: url(images/icons/FN02020301.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02020302 {
	background-image: url(images/icons/FN02020302.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02030103 {
	background-image: url(images/icons/FN02030103.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020301042 {
	background-image: url(images/icons/FN020301042.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN02030104 {
	background-image: url(images/icons/FN02030104.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.icon_FN020301041 {
	background-image: url(images/icons/FN020301041.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 16px;
	width: 16px;
}

.tbar_btn_opt {
	background-image: url(images/icons/opt.png);
	background-repeat: no-repeat;
	background-position: center center;
	clear: Both;
	margin-left: auto;
	margin-right: auto;
	height: 16px;
	cursor: pointer;
	width: 16px;
}

.png-detail {
	background-image: url(images/icons/shw_detail.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.png-cancel {
	background-image: url(images/icons/cal_check.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.png-submit {
	background-image: url(images/icons/sub_check.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.png-importobj {
	background-image: url(images/icons/imp_data.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.png-importself {
	background-image: url(images/icons/imp_self.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}

.png-importhis {
	background-image: url(images/icons/imp_his.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 1px;
}