<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">

	<head>
	</head>
	<body>
		<div layout:fragment="script">
			<script type="text/javascript">
			
			Ext.onReady(function(){
				Ext.define('MODEL-EM', {
				    extend: 'Ext.data.Model',
				    fields: [ 'name' ]
				});
				
				var store = Ext.create('Ext.data.Store', {
					model: 'MODEL-EM',
					data : [ {
							name : 'demo'
						}, {
							name : 'tab'
						}, {
							name : 'desktop'
						}, {
							name : 'bootApp'
						} 
					]
				});
				
				var dataView = Ext.create('Ext.view.View', {
					renderTo : Ext.getBody(),
				    emptyText: 'No records!',
				    itemSelector: 'div.ticket-wrapper',
				    store: store,
				    itemTpl: [
		                '<tpl for=".">',
		                '    <div class="ticket-wrapper">',
		                '        <span class="title">{name}</span>',
		                '    </div>',
		                '</tpl>'
		            ],
		            
		            listeners : {
		            	itemclick : function( dataView , record, item, index, e, eOpts ){
		            		window.location.href = '/' +  record.get('name');
		            	}
		            }
				});
			});
			</script>
		</div>
		<div layout:fragment="title">
			<h3></h3>
		</div>
	</body>
</html>  