<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" 
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">  
	    <property name="basename" value="views"/>
	</bean>
	
    <bean class="org.springframework.web.servlet.view.jasperreports.JasperReportsMultiFormatView">
        <property name="jdbcDataSource" ref="datasource"></property>
    </bean>
   
</beans>