<!DOCTYPE html>
<html>
	<head>
		<title>医院绩效评价信息平台</title>
		
		<!--  raphael -->
		<script type="text/javascript" src="${ctx}/webjars/raphaeljs/2.1.2/raphael.js"></script>
		
		<script type="text/javascript">
		    var PAGE_DATA = ${pageData};
		    var CTX = "${ctx}";
		</script>
		<!-- 
		<script type="text/javascript" src="${ctx}/javascript/codemonkey-em/codemonkey-ext-includes2.js?debug=false&ext_locale=zh_CN&version=4.2.3.1477"></script>
		-->
		<script type="text/javascript" src="${ctx}/javascript/codemonkey-em/codemonkey-ext-includes2.js?debug=false&ext_locale=zh_CN&version=6.0.0&theme=triton"></script>
		<script type="text/javascript" src="${ctx}/javascript/codemonkey-em/codemonkey-em.js"></script>
		<sitemesh:write property='head' />
		
	</head>
	<body>
		<sitemesh:write property='body' />
	</body>
</html>
