<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
       default-lazy-init="true">

	<context:property-placeholder location="classpath*:/application.properties"/>
    <!-- =========================================================
         Shiro Components
         ========================================================= -->

    <!-- Shiro's main business-tier object for web-enabled applications
         (use org.apache.shiro.web.mgt.DefaultWebSecurityManager instead when there is no web environment)-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="appRealm"/>
        <!-- sso时替换以上
        <property name="realm" ref="casRealm"/>  
     	<property name="cacheManager" ref="cacheManager" />
     	-->
    </bean>

    <!-- Post processor that automatically invokes init() and destroy() methods -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Define the Shiro Filter here (as a FactoryBean) instead of directly in web.xml -
         web.xml uses the DelegatingFilterProxy to access this bean.  This allows us
         to wire things with more control as well utilize nice Spring things such as
         PropertiesPlaceholderConfigurer and abstract beans or anything else we might need: -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="${shiro.loginUrl}"/>
        <property name="successUrl" value="${shiro.successUrl}"/>
        <property name="unauthorizedUrl" value="${shiro.unauthorizedUrl}"/>
        <!-- The 'filters' property is usually not necessary unless performing an override, which we
             want to do here (make authc point to a PassthruAuthenticationFilter instead of the
             default FormAuthenticationFilter: -->
        <property name="filters">
            <util:map>
                <entry key="authc">
                	<bean class="com.codemonkey.web.interceptor.AuthFilterServiceImpl"/>
                	<!-- 
                	<bean class="org.apache.shiro.web.filter.authc.PassThruAuthenticationFilter"/>
                	-->
                </entry>
                <!-- sso时替换以上
                <entry key="cas" value-ref="casFilter"/>
                -->
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
            	<!-- sso时追加以下
            	/hospitalAuth = cas
	            /logout = logout
	            -->
                ${shiro.anonUrl} = anon
                ${shiro.loginUrl} = anon
                ${shiro.ajaxLoginUrl} = anon
               	/javascript/**   = anon
               	/css/**          = anon
               	/webjars/**      = anon 
                ${shiro.authcUrl} = authc
                ${shiro.successUrl} = authc
                /manager/** = authc
            </value>
        </property>
    </bean>
    
    <!-- sso时用 -->
     <bean id="casFilter" class="org.apache.shiro.cas.CasFilter">  
    	<property name="failureUrl" value="${shiro.unauthorizedUrl}" />
    </bean>
      
	<bean id="casRealm" class="org.apache.shiro.cas.CasRealm">  
	    <property name="casServerUrlPrefix" value="http://localhost:9090/cas"/>  
	    <property name="casService" value="http://localhost:8080/hospitalAuth"/>
	</bean> 
	
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" />
    
    
</beans>