<!DOCTYPE html>
<html>
<body>
	<ul th:fragment="pagination" class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
	
	<table th:fragment="table ( tableHeader , tableBody)" class="table table-striped table-condensed">
		<thead>
			<tr>
				<td th:replace=":: tableHeader"></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:replace=":: tableBody"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>