<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">

	<head>
	</head>
	<body>
		<div layout:fragment="content">
			<form action="/licenseDetail/save">
			    <div class="row">
		  			<div class="col-md-1"  hidden = "true" >id:</div>
		  			<div class="col-md-1"><input name = "id"  type="text"   placeholder="id"  th:value="${p.id}"  hidden = "true"></input></div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-1">customerName:</div>
		  			<div class="col-md-1"><input name = "customerName"  type="text"   placeholder="customerName"  th:value="${p.customerName}" ></input></div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-1">productName:</div>
		  			<div class="col-md-1"><input name = "productName"   type="text"   placeholder="productName" th:value="${p.productName}" ></input></div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-1">productVersion:</div>
		  			<div class="col-md-1"><input name = "productVersion"   type="text"   placeholder="productVersion" th:value="${p.productVersion}" ></input></div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-1">licenseExpiry:</div>
		  			<div class="col-md-1"><input name = "licenseExpiry"   type="text"   placeholder="licenseExpiry" th:value="${p.licenseExpiry}" ></input></div>
		  		</div>
			   <div> 
			   		<button type="submit" class="btn btn-default"  >保存</button>
			   </div>
			</form>
		</div>
	</body>
</html>